body {
    background-color: #D9AFD9;
    color: #0D1282;
    font-family: "Times New Roman", sans-serif;
    text-align: center;

}

header {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    color: #0D1282;
    display: flex;
    align-items: center;
    border-bottom: 2px;
    border-bottom-style: hidden;
    padding: 20px;
    margin: -10px;
}

.title {
    margin: 10px;
    margin-left: 10px;
    padding: 1px;
    text-align: center;
}

.links {
    display: inline-flex;
    border-style: hidden;
    border-width: 5px;
    margin: 5px;
    padding: 15px;
}

span {
    margin-left: 40%;
}

.links:hover {
    background-color: #0D1282;
    color: #fff;
}

img{
    width: 250px;
    height: auto;
    margin-top: 10px;

}

.burn {
      width: 800px;
      height: auto;
      align-content: center;
}

ol li {
    text-align: left;
}

header.links{
    text-align: right;
}

.mid {
    margin-top: 30px;
}
