* {
    background-color: aqua;
    color: orangered;
}


p,
div,
.recipes {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    margin: 10px;
}

.title {
    margin: 10px;
    padding: 10px;
}