* {
    background-color: aqua;
    color: orangered;
}


p,
div,
.recipes {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    margin: 20px;
    border-bottom: 2px;
    border-bottom-style: ridge;
    padding-bottom: 20px;
}

.title {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.links {
    display: flex;
    border-style: outset;
    border-width: 5px;
    border-color: orangered;
    margin: 20px;
    padding: 10px;
}

.links:hover {
    background-color: orangered;
    color: aqua;
}

img{
    width: 200px;
    height: auto;
}
